<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Código inválido</title>
    <style>

        body {
            background-color: rgb(241, 237, 237);
        }

        h1{
            text-align: center;
            margin-top: 200px;
            font-size: 40px;
            font-family: Arial, Helvetica, sans-serif;
        }

        h2{
            text-align: center;
            margin-top: 100px;
            font-size: 20px;
            font-family: Arial, Helvetica, sans-serif;
        }

    </style>
</head>
<body>
    <h1>{{values}}</h1>
    <a href="{{url_for('index')}}"><h2>Clique aqui para voltar a página inicial </h2> </a>
</body>
</html>